/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/stamp-h1

/build/depcomp
/build/install-sh
/build/missing

/src/Makefile
/src/Makefile.in

/src/glthing

.deps
*.o
